
.flipping .deck h2, h3 {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(0, 6, 22, 0.67);
    line-height: normal;

}

.flipping .deck h2 {
    top: 10%;
    font-size: 1.3rem;

}

.flipping .deck h3 {
    top: 80%;
    font-size: 1.3rem;
}
