/* Базовые стили демо-страницы */

html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    color: #555;
    /*   background: #fafafa;*/
}

body * {
    font-family: "Trebuchet MS", Verdana, sans-serif;

}

a:link, a:hover, a:visited {
    text-decoration: none;
    color: #1679d6;
}

h1 {
    padding: 25px 0;
    font-weight: 400;
    text-align: center;
}

/*.config-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}*/

.config {
    font-size: 15px;
}

section .options, .usage,.config-container   {
    width: 50%;
    margin:0 auto;text-transform: none;
}



section {

    min-width:500px;
    max-width: calc(100vw - 50px);

    margin: 0 auto;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;

    clear: both
}



section h2 {
    margin: 20px 0;
    text-align: center;
}

.config input[type='text'] {
    width: 37px;
    text-align: right

}

.flipping {
    margin-top: 20px;
    margin-bottom: 20px
}

h4 {
    margin: 0 0 20px
}

/*-------------------------------------------------------------------------------------------*/

.config {
    margin-left: 20px
}

.config input[type=text],
.config input[type=date],
.config input[type=datetime],
.config input[type=number],
.config input[type=search],
.config input[type=time],
.config input[type=url],
.config input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 2px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.config input[type=text]:focus,
.config input[type=date]:focus,
.config input[type=datetime]:focus,
.config input[type=number]:focus,
.config input[type=search]:focus,
.config input[type=time]:focus,
.config input[type=url]:focus,
.config input[type=email]:focus,
.config textarea:focus,
.config select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

/*-------------------------------------------------------------------------------------------*/

pre.prettyprint {
    border: none !important
}

/*-------------------------------------------------------------------------------------------*/

.options ul {
    list-style: none;
}

.options ul li {
    line-height: 150%
}



/*-------------------------------------------------------------------------------------------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 25px 10px 0;
}

.info {
    color: rgba(78, 78, 78, 0.8);
    width: 100%;
    margin: 40px auto;
    text-align: center;
    font-weight: 300;
}

.info a {
    color: #bbb;
    text-decoration: none;
}

.info a:hover {
    color: #888;
}

/* Конец стилей демо-страницы */
/* Базовый контейнер табов */



/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Прячем чекбоксы */

.tabs > input {
    display: none;
    position: absolute;
}
